html, body {
    height: 100%;
    margin: 0px;
    padding: 0px
}
#footer {
    background-color: #414141;
    height: 40px;
    padding-top: 10px;
    bottom: 0; /* Sit it on the bottom */
    right: 0;
    left: 0;
    width: 100%; /* As wide as it's allowed */
    text-align: center;
}
.index #footer {
    position: absolute;
}
#header {
    background-color: #414141;
    height: 56px;
    padding-top: 10px;
    border-radius: 0px;
}

#wrapper {
    left: 0px;
    top: 56px;
    bottom: 48px;
    right: 0;
    position: absolute;
}

#content {
    top: 1px;
    bottom: 0px;
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
}

#header h1 {
    margin-top: 0px;
}
#header .navbar-form {
    margin-top: 4px;
}

#map-canvas {
    height: 100%;
    margin: 10px;
    border-radius: 10px;
}

.create-item label {
    display: block;
}
.iWantThis {
    text-align: center;
}
.popupImage {
    width:100%;
    text-align:center;
}
.social-button {
    padding: 2px;
    float:right;
}
.sign-in {
    padding: 8px;
    color: white;
    white-space: nowrap;
}
.mobile-only {
    display:none;
}

.img-item {
    margin-top: 5px;
    width: 200px;
    height: 200px;
}

.image-div {
    margin-bottom: 20px;
}

.gm-style-iw {
    text-align: center;
}
.img-container img {
    max-width: 100%;
}
.btn-social-icon {
    margin-left: 4px;
    float: right;
}
.results {
    padding: 0px 20px 0px 20px;
}
.search-result {
    cursor: pointer;
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 640px) {
    .mobile-only {
        display:block;
    }
    .desktop-only, .sign-in, .searchbar {
        display: none;
    }
    .search-button {
        display: inline;
    }
    .search-input {
        width: auto;
        display: inline;
        margin-right: 5px;
        float:left;
        max-width: 150px;
    }
}
