html, body {
    height: 100%;
    margin: 0px;
    padding: 0px
}
#footer {
    background-color: #414141;
    height: 60px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#header {
    background-color: #414141;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#header h1 {
    margin-top: 0px;
}
#header .navbar-form {
    margin-top: 4px;
}

#map-canvas {
    height: 90%;
    margin: 10px;
    border-radius: 10px;
}
.create-item label {
    display: block;
}
.iWantThis {
    text-align: center;
}
.popupImage {
    width:100%;
    text-align:center;
}
.social-button {
    padding: 2px;
}
.sign-in {
    padding: 8px;
}
