html, body {
    height: 100%;
    margin: 0px;
    padding: 0px
}
#map-canvas {
    height: 90%;
}
.create-item label {
    display: block;
}
.iWantThis {
    text-align: center;
}
.popupImage {
    width:100%;
    text-align:center;
}
.social-button {
    padding: 2px;
}
.sign-in {
    padding: 8px;
}
