{% extends 'base.html' %}
{% block main %}
<div>
    <h1>allfree</h1>

    <p>
    <ul>
        {% if user and not user.is_anonymous %}
        <li>
        <a>Hello {{ user.get_full_name|default:user.username }}!</a>
        </li>
        <li>
        <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
        </li>
        {% else %}
        <li>
        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
        </li>
        <li>
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
        </li>
        <li>
        <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
        </li>
        {% endif %}
    </ul>
    </p>
</div>
{% verbatim %}
<script id="iWantThisTmpl" type="text/x-jsrender">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{:name}}</h4>
      </div>
      <div class="modal-body">
        <p>Added on: {{:created}}</p>
        <p>Owner: {{:owner}}</p>
        <p>Description: {{:text}}</p>
        <img src="{{:image}}" height="200" width="200"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Contact Owner</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</script>
{% endverbatim %}
<div class="modal fade" id="iWantThisModal"></div><!-- /.modal -->
{% endblock %}
