{% extends 'base.html' %}
{% block main %}
<div>
    <h1>allfree</h1>

    <p>
    <div class="container">
        {% if user and not user.is_anonymous %}
        <div class="span6 pull-right">
            <a href="{% url 'auth:logout' %}?next=/">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </button>
            </a>
        </div>
        <a class="btn btn-default" id="createItem">
            <i class="glyphicon glyphicon-star"></i> I want to give away something
        </a>
        <div class="span6 pull-right col-md-2">
            <a>Hello {{ user.get_full_name|default:user.username }}!</a>
        </div>
        {% else %}
        <div class="span6 pull-right">
            <div class="social-button">
                <a class="btn btn-block btn-social btn-google" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
                    <i class="fa fa-google"></i> Sign in with Google
                </a>
            </div>
        </div>
        <div class="span6 pull-right">
            <div class="social-button">
                <a class="btn btn-block btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                    <i class="fa fa-facebook"></i> Sign in with Facebok
                </a>
            </div>
        </div>
        <div class="span6 pull-right">
            <div class="social-button">
                <a class="btn btn-block btn-social btn-twitter" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
                    <i class="fa fa-twitter"></i> Sign in with Twitter
                </a>
            </div>
        </div>
        {% endif %}
    </div>
    </p>
</div>
{% verbatim %}
<script id="iWantThisTmpl" type="text/x-jsrender">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{:name}}</h4>
      </div>
      <form>
          <div class="modal-body">
              <div class="container">
                  <div class="row">
                      <div class="col-md-3">
                          <p>Added on: {{:created}}</p>
                          <p>Owner: {{:owner}} <input id="iWantThisRate" type="number" class="rating">
                          </p>
                          <p>Description: {{:description}}</p>
                          <img src="{{:image}}" height="200" width="200"/>
                      </div>
                      <div class="col-md-3">
                          <div class="panel panel-default hidden" id="iWantThisExpiresBlock" title="Hurry up, this offer/item expires soon">
                              <div class="panel-body">
                                    Expires in <div class="lead" id="iWantThisExpiresOn"></div>
                              </div>
                          </div>
                          <label for="comment">Add a comment if you want:</label>
                          <textarea class="form-control" rows="5" id="iWantThisComment" placeholder="Hi, I saw your item and I'm very interested on it. When would be a good time to pick it up? Cheers"></textarea>
                          <br/>
                          <br/>
                          <div id="iWantThisSuccessMsg" class="alert alert-success" role="alert" style="display:none">
                              <span class="glyphicon glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                              <span class="sr-only">Error:</span>
                              <span class="msg">All good</span>
                          </div>
                          <div id="iWantThisErrorMsg" class="alert alert-danger" role="alert" style="display:none">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              <span class="sr-only">Error:</span>
                              <span class="msg">All bad</span>
                          </div>
                      </div>
                  </div>
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="iWantThisContact">I want this</button>
      </div>
        <input type="hidden" name="iWantThisId" id="iWantThisId" value="{{:id}}"/>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</script>
{% endverbatim %}
<div class="modal fade" id="iWantThisModal"></div><!-- /.modal -->
<div class="modal fade" id="createItemModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Get rid of something</h4>
            </div>
            <form id="giveAwayItemForm">
                <div class="modal-body">
                    <div class="create-item">
                        {{ item }}
                        <label for="location">Location:</label>
                        <input name="location.location" size="40" id="location" type="text" placeholder="Leave in blank to use current location">
                        <input name="location.lat_position" id="lat_position" type="hidden">
                        <input name="location.long_position" id="long_position" type="hidden">
                        <br />
                        <br />
                          <div id="giveAwayItemSuccessMsg" class="alert alert-success" role="alert" style="display:none">
                              <span class="glyphicon glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                              <span class="sr-only">Error:</span>
                              <span class="msg">All good</span>
                          </div>
                          <div id="giveAwayItemErrorMsg" class="alert alert-danger" role="alert" style="display:none">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              <span class="sr-only">Error:</span>
                              <span class="msg">All bad</span>
                          </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="giveAwayItemButton">Give away!</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="map-canvas"></div>
{% endblock %}
