RewriteEngine On
RewriteRule ^application/static/(.+)$ /static/$1 [L]

## EXPIRES CACHING ##
<IfModule mod_expires.c>
Header set Cache-Control "max-age=2592000, public"
</IfModule>
## EXPIRES CACHING ##
